/* styles.css */

/* Centrar el contenido en dispositivos móviles */
@media (max-width: 640px) {
    .navbar-center {
        text-align: center;
    }
}

/* Estilos personalizados para los formularios en admin.html */
form input, form select {
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: #6366f1; /* Indigo-500 */
    outline: none;
}

table img {
    object-fit: cover;
}

/* Estilos para el modal del carrito */
#modal-carrito {
    z-index: 50;
}
